.theme-picker, .src-picker {
    font-size: 12px;
    margin: 10px 4px;
    display: inline-flex;
}

.theme-picker span, .src-picker span {
    margin-top: 2px;
    margin-left: 16px;
}
pre {
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #ddd;
    background: #334557;
}

.theme-picker .theme, .src-picker .src {
    display: block;
    border-radius: 10px;
    padding: 3px 8px;
    margin: 0 3px;
    color: #fff;
    background: #aaa;
    cursor: pointer;
}

.theme:hover {
    background: #95b6d6;
}

.theme.active, .theme-picker .theme.active:hover {
    background: #1674de;
    cursor: default;
}

.src {
    background: #94b791;
}

.src:hover {
    background: #96e0a7;
}

.src.active, .src.active:hover {
    background: #41de6b;
    cursor: default;
}

.icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 80px;
    margin: 16px;
    cursor: pointer;
    overflow: hidden;
}

.icon > i {
    display: block;
    color: #444;
    font-size: 48px;
}

.icon .name {
    margin: 1em 0 0;
    width: 64px;
    height: 2em;
    font-size: 10px;
    line-height: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}